body {
    background: #E8CAAF;
    margin: 0% 5% 0%;
    font-family: calibri;
}

header {
    background: white;
    display: block;
    padding: 0% 10% 0%;
    margin: 2% 20% 0%;
    text-align: center;
    overflow: auto;
    border-top-left-radius: 50px;
  }

h1 {
    font-family: Gochi Hand; 
    border: solid 1px;
    background-color: #EBEFC9; 
    font-size: 60px;
    display: inline;
    padding: 0% 5% 0%;
    margin: 0% auto 0%;
}

h2 {
    font-family: Gochi Hand;
}

nav {
    background:#F5A685;
    padding: 0% 0% 0%;
    margin: 0% 0% 0%;
    display: inline;
}

nav > ul > li {
border: solid #E8CAAF 1px;
background: #E8CAAF;
color: white;
text-align: center;
display: inline;
margin: 0% 2% 0%;
padding: 1% 1% 1%;
font-size: 15px;
border-radius: 10px;
}

#icon {
width: 250px;
margin: 0% auto 0%
}

#whitechick { 
    width: 250px;
}

article {
    background-color: white;
    padding: 0% 4% 1%;
    margin: 0% 20% 0%;
    border-bottom-right-radius: 50px;
    }

#java {
    color: red;
    font-family: Gochi Hand;
    font-size: 20px;
    text-align: center;
    padding: 0% auto 0%;
    margin: 0% auto 0%;
    font-weight: bold;
    text-transform: uppercase;
    } 

#mission {
    font-size: 20px;
    background-color: #EBEFC9;
}

#dreamchick {
    text-align: center;
    padding: 0% auto 0%;
    margin: 0% auto 0%; 
}

#warning { 
    font-size: 13px;
    background-color: #E8CAAF;
    padding: 5% 5% 5%;
    text-transform: uppercase;
}

footer {
    text-align: center;
    margin: 0% 30% 0%;
    font-size: 10px;
}
